@import "../src/components/Dashboard/dashboard.css";
@import "../src/components/Header/header.css";
@import "../src/components/Note/NoteCard/noteCard.css";

#root {
  max-width: 1280px;
  margin: auto;
  text-align: center;
}